[submodule "projects/gwc"]
	path = projects/gwc
	url = https://github.com/nhatnguyenquang1838-coder/gwc.git
	branch = main
[submodule "projects/ua"]
	path = projects/ua
	url = https://github.com/nhatnguyenquang1838-coder/Understand-Anything.git
	branch = main
[submodule "projects/task-me"]
	path = projects/task-me
	url = https://github.com/nhatnguyenquang1838-coder/task-me.git
	branch = main
[submodule "projects/rental-home"]
	path = projects/rental-home
	url = https://github.com/nhatnguyenquang1838-coder/rental_home.git
	branch = main
